[2014-06-16 14:05] nealg1 opened #5 "WebM videos are taking an extremely long time to show in Windows (upwards of 15 minutes)"
When comparing a Presentation Preview using a WebM on both Windows and on a Mac, Windows will take a long time to show the video (can wait 15 minutes).  On a Mac, the video shows up right away (on the same network).

[2014-06-17 14:45] nealg1 opened #6 "Using Iris Transitions results in content not showing on Displays"
using this Presentation: http://rva.risevision.com/#PRESENTATION_MANAGE/id=4b21c1b6-2846-4984-908a-385f6709f61c/company=a52b3ec1-b188-47f5-b561-d43b9cbcdc2e

Note the main placeholder doesn't show any content (can see this in preview too). Preview was done on Windows 7 using Chrome 35.0.1916.153.

Switching to a different transition (such as fade, or none) is the current work around.

[2014-07-02 19:31] alanclayton opened #9 "Viewer doesn't render an HTML Item if the HTML includes comments."
Add the HTML below as an HTML Item. When you Preview the Presentation the content does not appear. If you remove the comments from the HTML the content will appear as expected.

[code]

[2014-07-07 16:55] alanclayton opened #10 "The buttons shown with the "Display ID not found error" are not the same size"
As shown here, http://www.screencast.com/t/iKSefVDQkeZ. Buttons should be the same sized and equally aligned.

[2014-07-11 15:19] alanclayton opened #11 "Video's don't fallback to being stored in Browser cache if Rise Cache is unavailable"
If for whatever reason Rise Cache is unavailable, Viewer will download a video each time it is played in a Presentation resulting in excessive bandwidth. If Rise Cache is unavailable, we should use browser cache to prevent excessive bandwidth usage.

[2014-07-15 17:46] alanclayton opened #13 "Video's within an embedded Presentation are not stored in Rise Cache"
Embed a Presentation that includes a video and run on a Display. From Chrome Dev Tools, look at the Network tab where you can verify it is downloaded from the hosting server every time it plays vs being served from Rise Cache.

[2014-07-28 16:38] donnapep opened #17 "Pause not being called when a Playlist contains a single Gadget that is set to PUD"
Add 2 Gadgets to a Placeholder and set them both to PUD. Remove one of the Gadgets and then preview the Presentation. Notice that after the Gadget has played through and reports 'Done', the Viewer immediately tells the Gadget to play again. The Viewer should be telling the Gadget to pause first and then to play, as is the case when the Gadget is not set to PUD.

[2014-09-05 21:33] btfrise opened #21 "Scheduled presentations show white screens after expiring."
Example:

Schedule has three presentations
1) Consists of one 1920x1080 placeholder with four images set to display 5 seconds each to run from 8am-5pm.
2) Consists of one 1920x1080 placeholder with one image set to display for 5 seconds  and run 24/7.
3) Consists of one 1920x1080 placeholder with one image set to display for 4 seconds and run 24/7.

From 5:01pm - 7:59am, this schedule should displ

[2014-09-16 15:32] nealg1 opened #24 "White Screen Flickering"
On Linux Displays, when using Viewer version 1-06-033, the screen would flicker white. After rolling back to version 1-06-032, the problem went away.

[2014-10-30 14:35] btfrise opened #28 "Right mouse click is enabled when Hide mouse pointer is selected."
When mouse pointer is hidden (http://screencast.com/t/a7VW5JoWjp), right click is available in presentation.

[2014-11-03 15:42] donnapep opened #30 "Stop command is being called when a Widget is the only item in a Playlist"
**What steps will reproduce the problem?**
1. Put a Widget into a Placeholder by itself and set it to be PUD.
2. Preview the Presentation.
3. After the Widget calls `done`, the `stop` command is called.

**What is the expected output? What do you see instead?**
The `stop` command should not be called. Instead, the `pause` command is what should be called. The `stop` command is normally reserved fo

[2014-11-03 20:08] btfrise opened #31 "Single repeating .webm video, screen flashes before replays."
See http://preview.risevision.com/Viewer.html?type=presentation&id=e57d6d8d-dab3-4628-ac8c-4ea48437eb25 for example.

Issue is present in Native Player with .webm format videos. Present in chrome app player as well.

We should verify if this issue exists in the newest version of JWPlayer (6.10). We are currently on version 6.5.

[2014-12-04 16:51] btfrise opened #35 "Update the loading spinner to conform to standard."
The loading spinner should conform to our standard sizes.

If this is not possible, or would be too difficult, the "Loading" text should be removed and the spinner updated.

[2015-03-10 15:46] alanclayton opened #41 "The help text on the "Display ID not found" not working."
1. Install the Rise Vision Chrome App, https://chrome.google.com/webstore/detail/rise-vision-chrome-app-pl/mfpgpdablffhbfofnhlpgmokokbahooi
2. Once installed start the App.
3. Once opened, try to select on the URL, www.risevision.com/player-registration.

The link does not open.

What should happen
1. When a User selects the URL, a page identical to how a page is opened when selecting the Help but

[2015-03-16 21:05] btfrise opened #43 "Viewer does not receive "done" call from embedded presentations, embedded presentations that are PUD endlessly loop."
This issue is logged using the HTML5 Video Widget as an example. I have also recreated with Google Spreadsheet Widget, and Image Folder Widget.

Steps to reproduce:
1. Create presentation with only HTML5 video widget. Save presentation.
2. Create another presentation with one large placeholder, add multiple embedded presentations. Add the presentation containing the HTML5 Video Widget.
3. Set HTML

[2015-03-20 18:34] alanclayton commented on #30
@alex-deaconu per @stulees this issue is going to be a block for the Video Folder Widget. I assume nothing was ever done with this. Can you confirm? If correct, I think we should get this queued up for the next item on your schedule.

@ByronDarlison FYI

[2015-03-20 18:40] alex-deaconu commented on #30
@donnapep can you double check the Issue description. You're saying Instead the `done` command should be called? Should that say `pause`?

Also, I don't understand how this is affecting the Video Folder Widget. In terms of the Viewer, `stop` and `pause` have such a confusing behaviour pattern, Widgets should probably treat them as one and the same command.

@alanclayton if we want to fix this, we'

[2015-03-20 18:46] alanclayton commented on #30
@alex-deaconu okay.

@donnapep @stulees let us know on the respective questions for you above.

[2015-03-20 19:20] donnapep commented on #30
@alex-deaconu You're right. I think I must have meant `pause`, which would quickly be followed by `play` since it's the only item in the playlist.

Here's the difference between `pause` and `stop` - `pause` tells a Widget to just stop playing the video or cycling the slideshow or whatever the case may be, but that it should still maintain its state so that it can pick up from where it left off lat

[2015-03-20 19:32] alex-deaconu commented on #30
@donnapep thanks for the confirmation.

The original intention for `pause` vs `stop` can be best described by a Video's behaviour. `pause` pauses the video, and `play` continues. `stop` pauses the video and resets it to the first frame, and `play` starts it back up.

By the logic above, if the Video is the only item in the playlist, on `done` we call `stop` to reset its position to the beginning,

[2015-03-20 20:13] donnapep commented on #30
@alex-deaconu OK, sounds like more discussion is definitely needed around this. Given where we're going with web components, I wonder if it's worth worrying about?

[2015-03-20 20:20] stulees commented on #30
@alex-deaconu regarding the expectation of the Viewer assuming that the Widget is always loaded and ready in memory, this was my concern with Video Folder Widget. If the widget is never un-loaded, a lot of memory could be allocated to video for a presentation that isn't necessarily on screen. I would assume this would be taxing on the Display.

My current issue with Video Widget (memory problems)

[2015-03-20 20:33] alex-deaconu commented on #30
@stulees I don't think the best way to fix a memory leak is to un-allocate memory. Probably better to fix it at the source. However, that's just my opinion.

Also, I don't think we ever had memory leaks in the Video Item so: either the Video element is not inherently leaky and there's a code error or you should use a Video player that has fixes for any memory issues Video elements may have.

Thank

[2015-03-20 21:15] stulees commented on #30
@alex-deaconu Agreed re: fixing memory leak and have addressed JS issues in the code. Hoping this fixes things, will be testing that shortly.

Memory leaks aside, maybe the `stop` and `pause` does require more discussion as I'm still inclined to think that it is better optimization to be un-loading widget content when `stop` command is called. As Donna mentioned though, maybe it's not worth worryi

[2015-04-01 20:23] AlexKolenoff commented on #43
@btfrise @alanclayton FYI this issue is impacting William O'Neal.  He reported it in the community with Video and Image Folder Widget and I just reproduced it with Image Folder Widget only.

[2015-04-01 20:37] ByronDarlison commented on #43
@AlexKolenoff does this only happen if there is certain content in the playlist of any kind of content? Thanks

[2015-04-01 22:21] AlexKolenoff commented on #43
@ByronDarlison I'm not sure, the test I did was with Image Folder widget, and it was also reproduced with the HTML5 Video widget.

I can do a test with just plain Text widget to see if it still happens.

[2015-04-01 22:23] ByronDarlison commented on #43
@AlexKolenoff I suspect that it is the widgets, but not sure, rather than viewer. Can you test without them and let us know what you find? Thanks

[2015-04-01 22:53] AlexKolenoff commented on #43
@ByronDarlison Okay, it seems you may be right.  In order to eliminate the widgets, I did a test with using the Video Item.  It just switched to the second embedded presentation as it should.  I will leave it up to see if it continues to switch back and forth.

[2015-04-02 08:56] ByronDarlison commented on #43
@alex-deaconu okay. Let me know what you find this morning.

@donnapep @stulees could you review this defect and let us know your thoughts?

FYI @alanclayton @alex-deaconu

[2015-04-02 12:57] donnapep commented on #43
@ByronDarlison @AlexKolenoff If this is an issue with the Widgets perhaps not sending the `done` command, then having the Image Folder Widget in a playlist with other items with PUD set on it would not work either. It would never move to the next item. So if that scenario doesn't work, then it's a Widget issue; if it does work, then it's likely not a Widget issue. Thx.

[2015-04-02 13:04] ByronDarlison commented on #43
@donnapep good point. @AlexKolenoff if you can test the possible combinations and let us know the conclusion it would be appreciated. Thanks

[2015-04-02 13:10] alex-deaconu commented on #43
@ByronDarlison I'm pretty sure at this point this is a Viewer issue. Not sure if there's a need to investigate further in terms of QA. I'll address it in order of priority (if it becomes a priority). Thanks!

[2015-04-02 13:15] ByronDarlison commented on #43
Thanks for jumping in @alex-deaconu. @AlexKolenoff @btfrise @alanclayton how should we prioritize this? Thanks

[2015-04-02 13:36] btfrise commented on #43
@ByronDarlison I will review this with @alanclayton this morning and get a priority established.

[2015-04-02 14:15] alanclayton commented on #43
@alex-deaconu @ByronDarlison  Can we plan to look at this after the Displays App?

[2015-04-02 15:47] ByronDarlison commented on #43
@alanclayton okay by me. @alex-deaconu if you concur can you queue a card up for this? Thanks!

[2015-04-02 15:51] alex-deaconu commented on #43
@ByronDarlison yup re: priority, added https://trello.com/c/ElO4ba2V/25-viewer-doesn-t-receive-done-from-embedded-presentations-with-only-1-item. Will fix after Displays App is done. Thanks!

[2015-05-06 16:44] mfisher11 commented on #13
This still appears to be an issue.  I have tested it with the current and testing versions of player (1.24.28 and 1.24.30) with the default/current viewer and the one specified above (1-06-030.rvashow2.appspot.com).

Steps to reproduce:

1. Run a presentation containing another presentation with a video.
2. Clear the rise cache (with the "clear cache" button from the config screen)
3. Verify the c

[2015-08-24 21:04] btfrise commented on #43
@ByronDarlison Curious, I never saw a resolution to this bug. I have an open issue for this in the community here https://getsatisfaction.com/rise_vision_inc/topics/issue-with-embedded-presentations-play-until-done-not-detecting-presentation-length

I'd like to give an update or response as to the status of the issue.

[2015-08-24 21:35] ByronDarlison commented on #43
@btfrise good find. I just resurrected on this card https://trello.com/c/ElO4ba2V and asked @tejohnso and @fjvallarino to review with input from @alex-deaconu. Let's resolve there. Thanks!

[2015-08-31 20:33] btfrise opened #61 "Viewer does not respect scheduled presentations."
Steps to reproduce:
1. Schedule four presentations
2. Set two presentations to run only in a certain timeframe (10:00PM - 10:15PM Daily)
3. Set two presentations to run always
4. Assign to display

Result:
All four presentations will run regardless of time.

How it should work:
Presentations schedule for a certain timeframe should only appear during that timeframe

Link to Schedule:
http://rva.ris

[2015-09-01 13:18] btfrise commented on #61
Moved to schedules-app.

[2015-09-01 13:18] #61 closed

[2015-09-09 19:51] tejohnso commented on #43
@btfrise Can you point me to the example presentation?  The one listed in the original description is gone.

[2015-09-10 13:40] robb-price opened #67 "When you play a Weather Widget that is set to use "Display Address" and you have a Display Address set, nothing shows in the Placeholder"
<b>How it works now:</b>
1. Add any Weather Widget to a Presentation, and set it to use Display Address. Confirm that the Display has a set Display Address in the RVA.
2. Play on a Display, and notice that nothing shows in the Weather Placeholder.

Regardless of which Weather Widget you use, this always happens, and I recall when this was discussed before that it was determined this is a viewer bu

[2015-09-24 18:32] btfrise commented on #43
@tejohnso http://preview.risevision.com/Viewer.html?type=presentation&id=5913df00-6182-4c46-8768-7647bb08516c

[2015-10-01 15:37] btfrise opened #68 "Fade transition only functions once when in schedule."
Steps to reproduce:
1. Create a presentation containing a placeholder with text, set the transition to fade.
2. Create a second presentation containing a placeholder with text, set the transition to fade.
3. Put both presentations into a schedule, set the duration of each presentation to a low value (3 seconds).
4. Preview the schedule.

Result:
The two text items will fade the first time through,

[2015-10-01 15:37] btfrise commented on #68
@ByronDarlison FYI

[2015-10-01 15:37] btfrise commented on #68
RE: https://getsatisfaction.com/rise_vision_inc/topics/fade-not-working

[2015-10-09 13:58] btfrise opened #71 "Multiple embedded presentations do not appear in a complex presentation."
Steps to reproduce:
1. Create a 5760x1080 presentation
2. Add 3 1920x1080 placeholders
3. Within those placeholders, place three different 1920x1080 presentations that contain spreadsheet widgets
4. Save and preview presentation

Result:
Only the presentation in the leftmost placeholder will appear.

How it should work:
All three presentations should appear.

Link to Presentation:
http://preview.r

[2015-10-09 13:58] btfrise commented on #71
@ByronDarlison FYI.

[2015-10-09 16:05] justinsmith1 opened #72 "embedded presentation in same placeholder with images will crash viewer on Windows OS"
1. Create a placeholder in a 'master' presentation, add an image (image item, image widget, or image folder widget) to that placeholder.
2. In that same placeholder, add an embedded presentation (child/embedded presentation should contain image item, image widget, or image folder widget as well).
3. Schedule master presentation to play on a Windows OS media player.

Viewer crashes with 'sad face'

[2015-10-09 21:07] btfrise opened #73 "Presentation audio continues to play in background when in schedule with other presentations."
Steps to reproduce:
1. Create a presentation with audio
2. Create a secondary presentation
3. Put both presentations into a schedule

Result:
The audio from presentation 1 will run, even when presentation 2 is running, creating an audio overlap if both presentations have audio.

How it should work:
Presentation 1 should not continue playing audio while presentation 2 is running.

Link to Presentat

[2015-10-09 21:07] btfrise commented on #73
FYI @ByronDarlison

[2015-10-12 13:49] justinsmith1 commented on #72
@ByronDarlison I forgot to tag you on this Friday afternoon. My apologies.

[2015-10-16 21:32] justinsmith1 commented on #72
@ByronDarlison do you know where this issue falls in the backlog? I have a support ticket that called asking for an update. Thanks

[2015-10-17 09:39] ByronDarlison commented on #72
@justinsmith1 sorry, haven't looked at this yet. To confirm, this happens with any combination of the image item, image widget or image folder widget? Is that right?

Also, does it matter what images are linked? Or is it only specific images or image combinations that cause it?

This seems like a very common setup and I am surprised that this hasn't come up before. Is there anything in particular

[2015-10-19 19:00] justinsmith1 commented on #72
@ByronDarlison Correct. Any combination of image item, image widget, or image folder widget being used with an embedded presentation will crash viewer on Windows OS.

The user (U of Toronto Mississauga) have 12-13 images in the master presentation, and the roughly the same number in the embedded presentation. They are using the image item. However, in my testing, I slimmed my test presentations to

[2015-10-19 19:19] ByronDarlison commented on #72
@justinsmith1 and curious, does this happen with any image, or just their image? And is this happening on latest Windows Player? Which version is it happening with? @btfrise here is a good example of what needs to included on the uptime wall. Thanks

[2015-10-20 00:36] justinsmith1 commented on #72
@ByronDarlison tested with both their images and my own.

[2015-10-20 00:39] ByronDarlison commented on #72
@justinsmith1 what about the other questions:

What Player and Chrome Version is this happening on?

And if not the latest version, have you tried latest?

Thanks

[2015-10-20 00:46] justinsmith1 commented on #72
@ByronDarlison the NUC in question was originally running CAP on Chrome 45. Once I gained remote access, I installed the latest version of Rise Player to see if it behaved any differently. I also tested on CAP on the uptime wall on Windows 8.1 using Chrome 45 and it happened there too; on dev, beta, and stable.

Their machine is currently running:

Windows 7 Pro
RisePlayer 2015.10.12.15.11
Viewer

[2015-10-20 11:18] ByronDarlison commented on #72
@justinsmith1 thanks for the clarifications. @tejohnso can you review this issue and let us know your thoughts on where the problem originates from and how you think we should go about resolving it. Thanks!

[2015-10-21 13:53] justinsmith1 commented on #72
@tejohnso did you have a chance to review this issue? Can you keep @mfisher11 in the loop here as well? He will be handling the open CS ticket going forward. Thanks! FYI @ByronDarlison

[2015-10-21 15:06] tejohnso commented on #72
Waiting for a windows test machine to use via screenconnect

[2015-10-21 15:18] justinsmith1 commented on #72
@tejohnso You're welcome to use my Windows Test Display. Under my name in ScreenConnect (100683-DN7M). Display ID: 6AZVXF2KDN7M. It's currently running a copy of U of Toronto's content (they reported the problem initially).

[2015-10-22 09:51] ByronDarlison commented on #72
@tejohnso @btfrise @justinsmith1 from what I can gather from the delivery room chat we can't replicate this issue on a test machine. Can you confirm where this is at? Thanks

[2015-10-22 13:11] justinsmith1 commented on #72
@ByronDarlison @tejohnso very strange. That slimmed down presentation that I created (the one Tyler is running on his test display) is no longer crashing on my test display either (it would typically do it within 5-10 minutes). U of Toronto's content, however, is still crashing within a couple of minutes (http://goo.gl/isWZD8).

[2015-10-22 13:12] ByronDarlison commented on #72
@justinsmith1 okay. Can you set that one up on the target test display and let's watch it. @tejohnso anything in particular you need to check this out? Thanks

[2015-10-22 13:28] justinsmith1 commented on #72
@ByronDarlison @tejohnso just crashed on Win7 Stable uptime display in the same schedule that Tyler created. Display ID: FG5YVBJDTXB2

[2015-10-22 13:30] tejohnso commented on #72
Well this is interesting.  Another difficult to reproduce problem.  I'll check it out.

[2015-10-22 17:13] tejohnso commented on #72
@fjvallarino Is running this on his machine to see if he can replicate the issue.  So far we have one machine crashing, and one machine not crashing.

[2015-10-22 17:52] tejohnso commented on #72
@justinsmith1 Is there anything unusual about the windows machine that's crashing?  Is it the same image as the one that is not crashing?  So far we've got two machines not crashing and one that is.

[2015-10-22 17:58] justinsmith1 commented on #72
@tejohnso Interesting. One is a NUC5i3RYK (not crashing; this is the model we started selling for Solutions a couple of months back). The other is a NUCi3-3217U (crashing; this is the model that is in the Store, and that we used to sell for about a year and a half). A majority of Windows NUCs in the wild will be the version that is crashing.

[2015-12-21 20:10] lapinnoir opened #76 "For more details visit [link] does not work in the Displays setup menu"
**How to Duplicate**
Install RV Player
Add invalid DisplayID

![linkdoesntwork](https://cloud.githubusercontent.com/assets/5868781/11915575/5d29bc28-a67a-11e5-98ab-113f4ca7f4e7.png)

**Expect outcome**
Link should go to the final Create A Display page

**Environment**
Found during Win 10 32bit testing but applicable with other OS

[2015-12-21 20:18] ByronDarlison commented on #76
@lapinnoir where does the help button go to? Thanks!

[2015-12-21 20:36] lapinnoir commented on #76
@ByronDarlison When you click on the Help button a new window frame appears but you can't tell what the link is since there is no URL browser.  I think it leads to http://help.risevision.com/#/user/player/register-player (referenced in https://github.com/Rise-Vision/viewer/blob/99a87b86e6222ff744104c3e21dac979be71a2f8/src/main/java/com/risevision/viewer/client/widgets/oem/HelpFrameWidget.java ) cc

[2015-12-21 20:37] ByronDarlison commented on #76
@lapinnoir okay. Can we remove the first help reference in the text and just update the Help button to point to https://help.risevision.com/user/create-a-display. Thanks!

[2015-12-24 21:54] lapinnoir commented on #76
Merged
https://github.com/Rise-Vision/viewer/pull/78
https://github.com/Rise-Vision/viewer/pull/77

[2015-12-24 21:54] #76 closed

[2015-12-24 23:39] lapinnoir commented on #41
@alanclayton Can close since this was recently addressed https://github.com/Rise-Vision/viewer/issues/76

[2015-12-24 23:39] #41 closed

[2016-01-12 15:10] btfrise opened #80 "Content can be swiped off screen."
How to recreate:
1. Create a presentation with any piece of content
2. Add this presentation to a schedule
3. Schedule this presentation to an interactive display

What happens:
When interacting with the presentation, if you hold your finger on top of a content widget, and swipe either direction, the content may swipe off the screen, restarting the presentation, or making the piece of content disa

[2016-01-13 10:25] ByronDarlison commented on #80
Not sure what to make of this so I going to circle everyone in so that we can figure out who owns this. @tejohnso @fjvallarino @alanclayton @rodrigopavezi @ezequielc @alex-deaconu what do you guys think? Where should we start? FYI @robb-price

Thanks!

[2016-01-13 15:26] tejohnso commented on #80
@robb-price Are we getting many user complaints on this?  Otherwise @ByronDarlison I don't think this should be a high priority issue.

[2016-01-13 19:26] ByronDarlison commented on #80
@tejohnso why don't you think it should be high priority?

[2016-01-13 19:34] robb-price commented on #80
@tejohnso @ByronDarlison  No, we haven't had any complaints about it yet, which is honestly very surprising with how easy it is to recreate.

[2016-01-13 19:56] tejohnso commented on #80
@ByronDarlison Because we don't have any users mentioning it, as opposed to some other issues.  I think those should take priority.   Also this is something that only happens due to a specific user action so it's not going to affect many displays.

[2016-01-13 20:01] ByronDarlison commented on #80
@tejohnso my worry is this is something newly introduced and it could become a big problem quickly. @btfrise @robb-price curious, can you replicate this with older Chrome versions?

[2016-01-13 20:05] robb-price commented on #80
@ByronDarlison @btfrise will test shortly and let us know. I was able to replicate it with an older Chrome version (v 46), but I want to make sure it was not unique to my environment.

[2016-01-13 20:19] ByronDarlison commented on #80
Thanks @robb-price

[2016-01-13 20:34] btfrise commented on #80
@robb-price I was able to replicate this with the old installer using Chrome 46 as well.

FYI @ByronDarlison

[2016-01-13 21:33] ByronDarlison commented on #80
@btfrise thanks! @tejohnso do you think Ahmed could take investigating this and also investigating whether or not it happens with Electron? Thanks

[2016-01-28 17:50] btfrise opened #83 "When an placeholder has visible unchecked, and that placeholder is set as PUD, no presentation appears."
How to recreate:
1. Set a placeholder with content to invisible.
2. Set that placeholder as the PUD Placeholder in presentation settings.
3. Create another placeholder with content in the presentation.

What happens:
No content is visible in the presentation.

What should happen:
The other content in the presentation should play, and there should never be a PUD command sent, since the PUD Placehol

[2016-01-28 18:42] btfrise commented on #83
This was fixed by @alex-deaconu

[2016-01-28 18:42] #83 closed

[2016-01-28 22:09] ahmedalsudani commented on #80
@ByronDarlison just tested Electron. Doesn't seem to be an issue under Electron.

[2016-01-28 22:55] ByronDarlison commented on #80
@ahmedalsudani good to know. And to confirm, can we fix this for the current chrome version as well? Thanks

[2016-01-28 23:44] ahmedalsudani commented on #80
@ByronDarlison found an easy fix for Chrome. Trying to get it to work. So it should be a yes

[2016-01-29 01:37] ByronDarlison commented on #80
AWESOME. Thanks

[2016-01-29 15:04] btfrise opened #85 "Scott's Vimeo Widget won't play Videos/Channel IDs with numbers in the channel."
How to recreate the issue:
1. Create a presentation with the Vimeo Widget in a placeholder
2. Select a Video or Channel ID with numbers, ex. 11075198
3. Preview the presentation, or assign to a display.

What happens:
The video does not appear.

What should happen:
The video should appear.

Presentation:
https://apps.risevision.com/editor/workspace/26ffc0fe-1b20-483e-be37-b618bb653000/?cid=f114ad2

[2016-01-31 15:22] woneal1983 commented on #85
This can be closed its fixed .

[2016-02-01 16:59] btfrise commented on #85
Verified fixed.

[2016-02-01 16:59] #85 closed

[2016-02-01 18:49] ByronDarlison commented on #67
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Ka7Z7rqw&#x2F;879-issue-67-viewer-not-returning-display-address"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Issue #67 Viewer not returning Display Address</a>

[2016-02-03 13:34] hcs0 commented on #73
@btfrise We tested this scenario with the new Schedules change so this issue should be closed.

[2016-02-03 13:35] #73 closed

[2016-02-03 13:37] hcs0 commented on #80
https://trello.com/c/Cl65yzPO/1337-2-test-swipe-solution-on-win10-and-win7

[2016-02-09 20:49] btfrise commented on #80
Confirmed as fixed.

[2016-02-09 20:49] #80 closed

[2016-02-10 20:20] ByronDarlison commented on #72
embedded presentations are deprecated, won't fix

[2016-02-10 20:20] #72 closed

[2016-02-10 20:21] ByronDarlison commented on #71
embedded presentations deprecated, won't fix

[2016-02-10 20:21] #71 closed

[2016-02-10 20:22] ByronDarlison commented on #43
embedded presentations are deprecated, won't fix

[2016-02-10 20:22] #43 closed

[2016-02-10 20:23] #31 closed

[2016-02-10 20:24] ByronDarlison commented on #30
@stulees @alanclayton @donnapep @alex-deaconu is this issue still open? Thanks

[2016-02-10 20:25] ByronDarlison commented on #28
@btfrise can you confirm if this is still a problem? Thanks

[2016-02-10 20:25] #24 closed

[2016-02-10 20:26] ByronDarlison commented on #21
@btfrise can you confirm if this issue is still open? Thanks

[2016-02-10 20:27] ByronDarlison commented on #17
@donnapep can you confirm if this issue is still open? Thanks

[2016-02-10 20:27] ByronDarlison commented on #13
embedded presentations are deprecated, won't fix

[2016-02-10 20:27] #13 closed

[2016-02-10 20:28] ByronDarlison commented on #11
@alanclayton can you confirm if this is now closed? Thanks

[2016-02-10 20:29] ByronDarlison commented on #10
UX being redone. Won't fix.

[2016-02-10 20:29] #10 closed

[2016-02-10 20:29] ByronDarlison commented on #9
HTML Item is deprecated. Won't fix.

[2016-02-10 20:29] #9 closed

[2016-02-10 20:31] #6 closed

[2016-02-10 20:31] #5 closed

[2016-02-10 20:32] ByronDarlison commented on #68
@btfrise can you confirm if this is still open. Thanks

[2016-02-10 20:37] donnapep commented on #17
@ByronDarlison Yes, it is. Thx.

[2016-02-10 20:47] ByronDarlison commented on #17
@donnapep thanks

[2016-02-10 22:05] donnapep commented on #30
@ByronDarlison I think we can close this one.

[2016-02-10 22:05] #30 closed

[2016-02-11 14:22] alanclayton commented on #11
@ByronDarlison Yes, I think we can close this.

[2016-02-11 14:22] #11 closed

[2016-02-11 15:56] ashleighalmeida commented on #68
@ByronDarlison This is still an issue.

The text items will fade for the first iteration, but after the schedule restarts the fade will no longer be in affect.

See: http://preview.risevision.com/Viewer.html?type=schedule&id=f7f89c8f-1443-4ad2-acb3-8ec4ef159ed2 @btfrise

[2016-02-11 16:02] ashleighalmeida commented on #28
@btfrise @ByronDarlison Ran a presentation with mouse pointer hidden, no right click was available. Not an ongoing issue.

[2016-02-11 17:07] #28 closed

[2016-02-11 19:23] ByronDarlison commented on #68
Okay. Thanks @ashleighalmeida

[2016-02-12 14:21] ashleighalmeida commented on #21
@btfrise @ByronDarlison Presentation works as expected. Did not encounter the white screen. No longer an issue.

[2016-02-12 14:23] ByronDarlison commented on #21
Thanks @ashleighalmeida

[2016-02-12 14:23] #21 closed

[2016-02-23 18:46] woneal1983 opened #88 "Vimeo Channel issue"
Blake and i have been discussing this almost everytime there is an update to the viewer.

The issue is with vimeo not getting channels when the vimeo widget is using a numbered channel.

For your test, the settings in the widget need to be a valid channel id like 12949172 with channel playback option being one of the channel ids. You will notice that in the debugging it will come out as no channel

[2016-02-23 20:37] ezequielc commented on #88
@woneal1983 Can you confirm the Vimeo API URL you are using? If it is https://vimeo.com/api/v3/channel/staffpicks/videos.json, it is returning "Page not found" from Vimeo.

Thanks

[2016-02-23 21:04] ezequielc commented on #88
@woneal1983 Any chances of being v2 instead of v3 in api call? Thanks!

[2016-02-23 21:19] woneal1983 commented on #88
I was playing with it to see if there was any difference between v2 and v3. It should be v2. I was doing some testing when you tried. Sorry about that it should be back as v2.

[2016-02-23 21:40] ezequielc commented on #88
@woneal1983 Now that you changed to v2, I tried with Channel ID 1341 and it works fine.
The Channel ID 12949172 doesn't exist in Vimeo and the return from API is "Not Found".

@btfrise Another thing I realized is that if you use 'user3254350' it will not work because it is not a channel, it is a user id.

Are you guys good with closing this issue?

Cheers

[2016-02-23 21:47] woneal1983 commented on #88
I actually think i have it working now. I was messing around with it and decided to do a small change in the call. I think there is an issue on vimeos side of things as well. I might change the json call to a jsonp. From my end that looks like a better choice because it seems to work on my end better. I will update the widget to reflect the change but you can close the call now that i have it work

[2016-02-23 21:50] ezequielc commented on #88
That is great. Thanks @woneal1983 . Cheers!

[2016-02-23 21:50] #88 closed

[2016-04-02 10:43] ByronDarlison commented on #17
@donnapep does this issue only impact gadgets? Or does it also impact widgets? Thanks

[2016-04-02 10:44] ByronDarlison commented on #35
Will not fix.

[2016-04-02 10:44] #35 closed

[2016-04-04 12:16] donnapep commented on #17
@ByronDarlison Looks like it's happening with Widgets as well. Thx.

[2016-04-04 12:21] ByronDarlison commented on #17
@donnapep thanks. @robb-price @alanclayton does this issue cause any problems or can we delay it awhile? Thanks

[2016-04-04 12:45] robb-price commented on #17
@ByronDarlison I am fine with delaying.

[2016-04-04 12:49] donnapep commented on #17
@ByronDarlison I wish I'd written in the original bug report what problem it was causing. I'd be OK with closing this altogether and reopening if we find it's causing issues.

[2016-04-04 16:15] ByronDarlison commented on #17
@donnapep thanks. Closing...

[2016-04-04 16:15] #17 closed

[2016-04-11 13:26] btfrise opened #91 "When in a schedule, Image Widget w/Fade transition does not obey Image order or schedule."
**How to recreate**
1. Within a presentation, add 2 Image Widgets
2. Add Image #1 to first Image Widget, set it to display for 10 seconds
3. Add Image #2 to second Image Widget, set it to display for 10 seconds
4. Click Placeholder Properties and confirm that the default transition of Fade is enabled
5. Create a second presentation, add 2 Video Widgets
6. Add Video #1 to first Video Widget, set it

[2016-04-14 21:09] btfrise opened #92 "Empty placeholder with background color does not respect scheduling."
How to replicate
1. Create a new presentation
2. Create a placeholder
3. Do not assign any content to that placeholder, assign a black background to it, schedule it to display only during a certain time (Ex. 01:00PM - 01:45PM).
4. Assign this presentation to a schedule, and that schedule to a display.

What happens
After 01:45PM, the placeholder is still visible.

What should happen
The empty plac

[2016-04-27 17:23] alex-deaconu commented on #67
@robb-price I'm currently investigating this issue, which is quite old.

From what I can tell, the Weather Widget (DigiChief) is requesting the Address correctly. Also, the Viewer doesn't have any issues providing the Address to the Widget.

However, from my investigation, the following behaviour is occurring:
1. If the Display address is blank, a blank address is returned; same probably goes for

[2016-04-27 17:55] robb-price commented on #67
@alanclayton @ByronDarlison @ezequielc We will test again after Chrome 50 testing and let you know if we can recreate.

[2016-04-27 18:19] alex-deaconu commented on #68
@btfrise I cannot replicate this issue with the Schedule preview provided. Are there any particulars that I should be looking for with this? Thanks!

[2016-04-27 19:55] robb-price commented on #67
@alex-deaconu @ByronDarlison @ezequielc I retested this using the Digichief Weather Widget, and it works as expected, so I think this has been inadvertently fixed.

We can live without Scenario's 1 - 4, as a quick save of the Presentation rectifies 2 - 4, and we haven't had a single person bring scenario 1 to our attention.

This issue can be closed.

[2016-04-27 19:55] #67 closed

[2016-04-27 19:57] alex-deaconu commented on #67
Thanks @robb-price !

[2016-04-27 20:30] btfrise commented on #68
@alex-deaconu This may have been fixed somewhere along the way. In any case, I'm seeing the images fade during each iteration now. Closing this!

[2016-04-27 20:30] #68 closed

[2016-04-29 19:07] alex-deaconu commented on #91
Confirmed issues exist, however, works as designed. Since the viewer is going to be deprecated, the decision has been made to not fix this in this repository.

Closing. @ByronDarlison @btfrise FYI.

Thanks!

[2016-04-29 19:07] #91 closed

[2016-05-03 14:25] alex-deaconu opened #95 "When the PUD placeholder's Timeline expires, stack overflow errors occur"
This can cause Viewer crashes.

To replicate:
- Add some Playlist Items to the PUD Placeholder
- Set the PUD Placeholder's Timeline to expire, play the Presentation on a Display
- Notice stack errors in console
- Chrome may also eventually crash

[2016-05-04 13:36] robb-price commented on #92
Verified and Closed

[2016-05-04 13:36] #92 closed

[2016-05-05 15:18] alex-deaconu commented on #95
Fixed by #96

[2016-05-05 15:18] #95 closed

[2016-05-23 21:48] dalebradshaw commented on #91
Hi,
I'm having the above problem. Which widget or technique should I be using since this won't be fixed?

[2016-05-24 14:54] robb-price commented on #91
@dalebradshaw Can I ask you to email support@risevision.com with a link to your Presentation so we can investigate if there is a better way to achieve what you need?

Thanks!

[2016-05-26 17:38] hcs0 opened #97 "Timeline setting not followed by the Text Widget if it span across two days"
**How to recreate the issue**
1. Add the text Text Widget with the following timeline settings within the Widget:
Time: **8pm** Thurs 26 May to **5.30am** Fri 27 May
Weekly on Thurs and Friday

<img width="567" alt="screen shot 2016-05-26 at 12 47 28 pm" src="https://cloud.githubusercontent.com/assets/5868781/15582682/3d1e5f36-2340-11e6-9b50-e00a4bb7276c.png">

2. Set Display timezone to be 7pm Th

[2016-05-26 17:39] hcs0 commented on #97
https://app.intercom.io/a/apps/d85f4ah4/inbox/conversation/4873053391

[2016-05-26 23:03] tejohnso commented on #97
@alanclayton Any input on this one?

[2016-05-27 01:02] alanclayton commented on #97
@tejohnso Widget doesn't have any control over when it shows or not.  At least I don't think it does. Sounds like something with Viewer.

@donnapep @stulees Thoughts?

[2016-05-27 15:06] stulees commented on #97
@alanclayton @tejohnso The Widget only communicates with Viewer to send the "ready" command and "done" command. For Text Widget, "done" is sent when the content is completed auto scrolling to the end of the content. However if the widget is not configured to auto scroll or there's not enough content to scroll, "done" is never fired since there's nothing to measure it being done.

The presentation

[2016-05-27 16:19] alanclayton commented on #97
@hcs0 can you remove the play until done option and confirm if you still have the problem?

[2016-05-27 21:22] hcs0 commented on #97
@alanclayton @stulees Thanks -  deselecting Play Until Done in the Text Widget has resolved the issue.  I've made a couple of tests changing the timezone on my test Display.  Is this a user issue where PUD needs to be deselcted or still a Widget/viewer bug?

[2016-05-27 21:27] alanclayton commented on #97
@hcs0 this is a design issue where PUD shouldn't be selectable if the widget doesn't support it. This will be addressed at a later date. For now, can you explain the situation to the user and have them remove PUD?

[2016-05-27 21:43] hcs0 commented on #97
@alanclayton Yes, I've contacted the user about deselecting PUD.  Do I leave this issue open or re-open back into the Widget repo?

[2016-05-31 10:51] ByronDarlison commented on #97
@alanclayton @hcs0 can you confirm this issue should be closed or, if it is still open, I don't think it should be here, it should be in the text widget repo. Please confirm. Thanks

[2016-05-31 15:26] hcs0 commented on #91
To update, the above issue with dalebradshaw's presentations has been resolved (it was another type of issue).  Thanks!

[2016-05-31 16:43] alanclayton commented on #97
@ByronDarlison we can close it. Thanks

[2016-05-31 16:43] #97 closed

[2016-07-29 21:37] hcs0 opened #100 "Content not switching to scheduled content when it runs over a new day"
**How to recreate the issue**
Create three Placeholders - each runs from 12 midnight to 12.30am across three days/
See https://apps.risevision.com/editor/workspace/f9fbe4b0-aa85-42c8-be63-812e569c87fa/?cid=960b72df-9af7-476b-8a47-b67ded4c779d

The three Placeholders are:
July 29 - 12am to 12.30am
July 30 - 12am to 12.30am
July 31 - 12am to 12.30am

**What happens**
On a live Display, change the ti

[2016-07-29 21:39] hcs0 opened #101 "Lag when switching Widgets if the timeframe is allocated across two days"
**How to recreate**
Allocate two Widgets which changes across two days.  See https://apps.risevision.com/editor/workspace/abaedcc0-b27e-4b98-9b24-0862097daad4/?cid=960b72df-9af7-476b-8a47-b67ded4c779d

On a local machine, change local time to be 11:57pm July 30.

**What is observed**

July 30 11:58:00pm You see the correct Placeholder content “SAT July 30 2am - 11:59pm”

July 30 11:59:30pm it stat

[2016-07-30 01:19] hcs0 commented on #101
https://app.intercom.io/a/apps/d85f4ah4/inbox/hcs@risevision.com/conversations/5418380770

[2016-07-30 01:19] hcs0 commented on #100
https://app.intercom.io/a/apps/d85f4ah4/inbox/hcs@risevision.com/conversations/5418380770

[2016-08-05 22:13] hcs0 opened #103 "Republishing a presentation can lead to a viewer crash"
**How to Recreate**

Use this <a href="https://apps.risevision.com/editor/workspace/fb916fdf-0a4e-4abe-89d6-cee76f64c605/?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55">presentation</a> containing 4 Image Widgets.

One image widget links to an 81MB image file.

Allocate to a Display running Win 10x32 (also observed on Win 7x2).

Run the presentation.

Resave and Republish the Presentation.

**What happ

[2016-08-05 23:50] ByronDarlison commented on #103
Thanks @hcs0 . @alex-deaconu is this a viewer issue or could it be related to chromium 52, or possibly an image widget issue? @tejohnso @alanclayton @rodrigopavezi @ezequielc thoughts?

Thanks

[2016-09-28 15:31] alanclayton opened #130 "White Presentation shows on Display when no content is schedule in Presentation"
When two Presentations are in a Schedule (Presentation A & Presentation B), both configured in the Schedule to show 24/7, but the content of Presentation B scheduled to show at specific times of the day, on most OS's Viewer shows all white when content from Presentation B shouldn't be showing.

On Ubuntu 14.04 x 64, Viewer will show a message saying there are no Presentations or Web Pages Schedule

[2016-09-30 14:58] alanclayton opened #133 "Displays not responding properly when removed from Schedule"
Viewer: 2-00-201609201528
Player: RisePlayerElectron 2016.09.29.23.54
Displays: JAQVBQS84SGK, MMZ4NHZA3RCG, (more if needed)

Win 7, Win 10, Lnx 14.04

1. Assign your Display to this Schedule https://goo.gl/4MCKnw
2. Wait for content to show on display
3. Remove the Display from the Schedule

The Displays continue to show the presentations in the schedule.

The Displays should show the msg stating

[2016-09-30 15:15] tejohnso commented on #133
@alexey-rise It looks like the content-update message isn't coming through the messaging service when a display is removed from a schedule.   It's coming through correctly when a display is added to a schedule.  @alanclayton FYI

[2016-09-30 15:57] alanclayton commented on #133
@alexey-rise see https://goo.gl/uxTyzS

[2016-09-30 20:49] alanclayton opened #136 "Video Item configured with youtube won't play on Display"
Viewer: 2-00-201609292007
Presentation: https://goo.gl/OM97MC

Video Item won't play youtube URL's when running on a Display (v1, v2 and v3)

Youtube video plays as expected in Preview.

[2016-09-30 22:44] alanclayton opened #137 "v1, v2, chros remain on loading spinner when no content scheduled"
Viewer: 2-00-201609292007
Player: v1, v2, chrome os

Display: DPVU4JRSYPMX, CFG9X65JPEPP, more if needed.

Viewer just shows loading spinner indefinitely if the schedule it is assigned to is empty. Should show the standard msg that the display has no presentations or schedules scheduled.

[2016-10-03 14:26] alexey-rise commented on #133
@alanclayton @tejohnso fixed and deployed, please verify.

[2016-10-03 14:54] alanclayton commented on #133
@alexey-rise verified.

[2016-10-03 14:54] #133 closed

[2016-10-03 15:15] ezequielc commented on #136
@alanclayton I verified that this is an existing issue, so it will be given less priority and will not block us from releasing a new viewer version. We are still working on https://github.com/Rise-Vision/viewer/issues/137 before releasing the version you tested on Friday.
Could you confirm?  Thanks

@alex-deaconu fyi

[2016-10-03 15:16] alex-deaconu commented on #137
@ezequielc @alanclayton investigated the issue, couple of things:
It is an existing issue not caused by the Viewer (verified that it occurs in the previous versions as well).

While I wasn't able to replicate by creating an empty schedule (either in the RVA or Apps), I could see the issue via an existing Schedule that was empty (https://apps-stage-0.risevision.com/schedules/details/ee454efb-56e3-4

[2016-10-03 16:08] alanclayton commented on #137
@alex-deaconu I used Schedules App.

I had the Displays assigned to this Schedule https://goo.gl/lKnSPc. Once I finished my Viewer testing I removed the Displays form the Schedule.

[2016-10-03 16:19] alanclayton commented on #136
@ezequielc if this is an existing issue then do we even need to worry about it given video item is discontinued. I was under the impression a common use case with video item was to show a youtube URL, but doesn't sound like that is the case.

[2016-10-03 16:49] ezequielc commented on #136
@alanclayton Yes, you are right. There is no need to fix this. I will close this issue. Thanks!

[2016-10-03 16:49] #136 closed

[2016-10-04 15:00] alanclayton commented on #136
@ezequielc I reviewed again and using the full URL works so indeed this is nothing we need to worry about. Thanks

[2016-10-10 14:29] btfrise opened #140 "White screen appears in between scheduled presentations."
When two or more presentations are in a schedule, a white screen flashes between the scheduled presentations. White screen lasts ~1 second, and appears no matter what kind of content is scheduled.

You can replicate this issue by adding this schedule to your display https://goo.gl/RACWtj

What should happen?
Transitions between presentations within the schedule should be seamless.

Player Version:

[2016-10-11 14:21] alex-deaconu commented on #140
@btfrise taking a look at the content, all 3 Presentations' Placeholders have the `Fade` transition selected. To clarify, when `Fade` is selected this is expected behaviour. I've double checked with the previous Viewer version (http://r12-dot-rvashow2.appspot.com/) and I believe the "white screen" effect also occurs there (ie. this is a pre-existing issue). Thanks.

[2016-10-13 15:23] btfrise commented on #140
Confirmed, thanks @alex-deaconu I'll close.

[2016-10-13 15:23] #140 closed

[2016-10-13 15:24] alex-deaconu commented on #140
@btfrise thanks!

[2016-10-14 18:25] btfrise opened #141 "Viewer randomly flashes white screen in between playlist items."
**How to recreate**
Assign multiple Image Widgets w/images to a placeholder in two presentations. (Test presentations [here](https://apps.risevision.com/editor/workspace/28e2500a-ed80-4ac7-8434-dd40131ff9f9/?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55) and [here](https://apps.risevision.com/editor/workspace/f703276f-217b-404d-830d-f596767955c3/?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55).)
Set the tran

[2016-10-14 18:39] alex-deaconu commented on #141
@btfrise does this happen with any other Widget or content item? If it is specific to the Image Widget, I would venture to say it's a Widget issue. Thanks.

[2016-10-14 18:59] btfrise commented on #141
@alex-deaconu I've tested with calendar/web page/video and cannot recreate.  I'll move this defect.

[2016-10-14 19:01] #141 closed

[2016-10-14 19:09] alex-deaconu commented on #141
@btfrise thanks!

[2016-10-14 20:37] ezequielc opened #142 "Display ID, Claim ID, Help and Quit buttons don't work on v3 and v1 Players"
On the production viewer, if I assign a display ID to a v3 or v1 player then delete that display, Viewer shows the Display ID / Claim ID / Help / Quit prompt. None of the buttons work.

In v3 users have to reinstall if they want to change their display id.
We could show a link to the player download page instead of the Display ID / Claim ID / Help / Quit prompt.

[2016-10-17 15:30] robb-price commented on #142
@ezequielc This also occurs on the Cenique Player, however users can still add the Display ID/Claim ID in the Cenique Player settings, so it is not critical on the Cenique Player as well.

[2016-10-19 20:31] btfrise opened #148 "Interactions don't work in preview."
**How to replicate**
1. Add any interactive Widget to a placeholder (web page widget for example)
2. In presentation settings, uncheck "Hide mouse pointer"
3. Preview presentation

**What happens**
The presentation cannot be interacted with unless you append &showui=false to the end of the preview URL.

**What should happen**
The presentation should be interactive.

**Notes**
Example presentations

[2016-10-20 17:29] ezequielc commented on #148
@btfrise Just to confirm, this issue is happening in QA or production version? Thanks
@alex-deaconu @fjvallarino @settinghead  fyi

[2016-10-20 17:43] btfrise commented on #148
@ezequielc this is happening on production

[2016-10-20 17:46] ezequielc commented on #148
@btfrise Ok, thanks!

[2016-10-20 18:03] alex-deaconu commented on #148
@ezequielc @btfrise was able to replicate this as well. From what I can tell it occurs due to the `PreviewWidget` taking up 100% of the screen and preventing interaction (even when "hidden").

Workaround for this is to set the `showui=false` parameter.

@settinghead FYI. Thanks.

[2016-10-21 11:46] robb-price opened #153 "When an Embedded Presenation is set to PUD, when it is not set to show, it shows a blank space in that Placeholder instead of skipping that item"
<b>How it works now:</b>
1. At rva.risevision.com, set an embedded Presentation to be PUD, and set it to show from a specific time, to a specific time.
2. Notice that when it is NOT set to show, it just shows a blank space in that Placeholder instead of skipping that item.

For further calrification: https://goo.gl/eIzyva

<b>How it should work:</b>
Since the embedded Presentation is not set to sh

[2016-10-21 19:48] btfrise commented on #153
This happens on all player versions, OSes and architectures.

[2016-10-24 20:43] btfrise commented on #148
@settinghead @ezequielc Validated! Looks good!

[2016-10-24 20:43] #148 closed

[2016-11-03 18:30] tejohnso opened #165 "JSON response type not valid in chrome version < 31"
@settinghead @ezequielc @fjvallarino

[code]

https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Data/ViewerDataProvider.js#L49

I think this will cause an API data fetch loop originating at `service.retrieveData`.
The expectation is that the module level state variable (which we should do away with) is going to be updated via `_reportDataReady` but that isn't going to be called since

[2016-11-03 22:39] tejohnso commented on #165
Jquery isn't causing the `responseType "json" is not supported` error.  It's caused by Polymer.

[2016-11-03 22:39] #165 closed

[2016-11-03 22:40] tejohnso opened #166 "Incorrect catch clause"
[This catch clause](https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Data/ViewerDataProvider.js#L51) won't be reached on retrieval error because `getJSON` returns immediately with a jqXHR object

@settinghead @ezequielc @fjvallarino

[2016-11-04 21:43] tejohnso opened #169 "Not setting active state on connection"
@ezequielc @fjvallarino @settinghead This double nested condition passage results in ACTIVE_STATE not being set on new channel connections coming from a state of INACTIVE_STATE. I think we should be in ACTIVE_STATE on MESSAGE_CONNECT.

[code]

https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Channel/ChannelConnectionController.js#L73

[2016-11-04 22:41] fjvallarino commented on #169
@tejohnso it makes sense... The code never actively checks for ACTIVE_STATE, although the fact of not switching to it when MESSAGE_CONNECT is received could cause a reconnection loop if no other messages are received.

[2016-11-05 03:11] tejohnso commented on #169
@fjvallarino The check for ACTIVE_STATE happens [over here](https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Data/ViewerDataController.js#L82).

ViewerDataController ends up sending out another api call because INACTIVE_STATE is still set in the ChannelConnectionController.  So we end up getting both a new channel connection and a new data call if no ping is received after connectio

[2016-11-07 17:58] tejohnso commented on #169
This is being addressed [here](https://github.com/Rise-Vision/viewer/pull/171)

[2016-11-07 22:06] robb-price opened #172 "When you have a Schedule Item that is less than 15 minutes, it does not show on the Display at the scheduled time"
<b>How it works now:</b>
1. Using <a href="https://apps.risevision.com/schedules/details/36b011bd-6267-4a66-a4a9-556bcd930742?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Schedule</a>, notice that there are 4 Presentations; 1 that is scheduled for all day, 2 Duplicate Presentations that play at specific times that are less than 15 minutes, and one that plays for 15 minutes.
2. Play this Schedule

[2016-11-08 14:31] robb-price opened #173 "When you have the timeline of any content set to Weekly, it will not show on a Display."
<b>How it works now:</b>
1. Assign any Widget, Placeholder, Schedule, or Presentation in a Schedule to be on a WEEKLY duration. Set the item to show today.
2. Notice that when you preview, you can see the item.
3. Notice that when you play this on a Display, it is blank in the spot the content should be showing. If you have a Schedule set to be Weekly, it will be black on the Display.

Schedule: h

[2016-11-08 16:54] alex-deaconu commented on #173
Fixed & validated.

[2016-11-08 16:54] #173 closed

[2016-11-08 17:18] robb-price opened #176 "Unchecking Visible Checkbox does not make a difference in a Presentation."
<b>How it works now</b>
1. Add a Placeholder to a Presentation, UNCHECK the Visible option in the Placeholder settings.
2. Play that Presentation on a Display, notice that you can see that Placeholder in the Presentation.

Presentation: https://apps.risevision.com/editor/workspace/61b5a199-94f0-4ed4-affb-2d775b0805fe/?cid=556323b8-984c-4127-aa08-4d73d019bcb8. ph0 has the Visible option unchecked,

[2016-11-08 18:59] alex-deaconu commented on #172
@robb-price this issue is now fixed. As per our previous discussion, items that are are only supposed to show for **1 minute** will not show. Everything else should work. Wondering if you can validate. Thanks!

[2016-11-09 16:06] robb-price commented on #172
@alex-deaconu Will validate shortly and let you know. Thanks!

[2016-11-10 03:26] robb-price commented on #172
Verified with 3 and 5 minute items. Closing.

[2016-11-10 03:26] #172 closed

[2016-11-10 03:45] robb-price commented on #176
Verified and Closed.

[2016-11-10 03:45] #176 closed

[2016-11-15 21:28] alex-deaconu commented on #137
@alanclayton while I wasn't able to identify how to replicate creating a Schedule with an empty field, I tested with existing Schedules and fixed the issue in the Viewer API.

This means both Displays & Previews will now show the warning as expected. An example of such a Schedule (note the `null` content field http://screencast.com/t/6ch5rbgB2):
http://preview.risevision.com/?type=schedule&id=3f4f

[2016-11-15 21:50] alanclayton commented on #137
@alex-deaconu 👍

[2016-11-15 23:06] alex-deaconu opened #183 "Retry Timer goes all wonky when running for a long time"
When there is an error or no Internet connection, and the Viewer polls for a long period of time, the Timer starts showing different (negative) counts.

http://screencast.com/t/l7Ms63OYx

[2016-11-16 15:39] #137 closed

[2016-11-16 17:50] tejohnso commented on #169
@alex-deaconu Given our previous discussions on [the pr](https://github.com/Rise-Vision/viewer/pull/171) I think we want to leave things as is, where ACTIVE_STATE is not set on MESSAGE_CONNECT.  If so, we can close this.  FYI @fjvallarino @ezequielc

[2016-11-16 18:03] alex-deaconu commented on #169
@tejohnso agreed 👍

[2016-11-16 18:13] #169 closed

[2016-11-16 22:49] alex-deaconu commented on #166
@tejohnso would you consider this resolved at this point? Thanks.

[2016-11-16 22:50] #183 closed

[2016-11-18 15:30] #166 closed

[2016-11-18 21:06] ezequielc opened #189 "White Screen when for multiple instances of same Presentation in Schedule"
I could not narrow down the issue, but I am opening the issue for investigation.

When adding the same Presentation multiple times in a Schedule, set to weekly and each item using different weekdays, a white screen is showing in the display.

Sample Presentation: https://apps.risevision.com/schedules/details/0a5e3d78-5102-4c7f-9d2f-8b4541ad991d?cid=f114ad26-949d-44b4-87e9-8528afc76ce4
Sample Displ

[2016-11-21 16:54] alex-deaconu opened #190 "If a Widget fails to send "ready", we do not retry"
Currently we have a retry mechanism for Gadgets and Image items, but not Widgets.

Reported in the community here: https://community.risevision.com/rise_vision_inc/topics/mystery-of-the-missing-widgets

Decision is to add feature.

[2016-11-21 21:47] alex-deaconu commented on #189
@ezequielc this issue has been fixed by the above commit. I've validated the fix by setting my clock to Friday as suggested.

Wondering if you could verify & update the User this issue is relevant to.

Thanks!

[2016-11-22 14:08] ezequielc commented on #189
@alex-deaconu Thanks! I validated and notified the user. Cheers!

[2016-11-22 14:08] #189 closed

[2016-11-22 15:21] alex-deaconu commented on #189
@ezequielc thanks!

[2016-11-22 16:54] alex-deaconu commented on #190
@btfrise @joelasso please inform the user that this has been corrected. Wondering if it will rectify the situation... Thanks!

[2016-11-22 16:54] #190 closed

[2016-12-13 18:28] sheadarlison opened #204 "Error message shows when it shouldn't"
**What is not working/What is currently happening:**
An error message saying A Presentation has not been assigned to the schedule. But a presentation is playing behind the error message

**What is expected to work/What is the client expecting:**
No error message shows if a Presentation is scheduled

**What has been tried so far:**
Nothing yet

**Schedule**
https://apps.risevision.com/schedules/det

[2016-12-14 18:19] fjvallarino commented on #204
@sheadarlison this can be checked on this Viewer url: http://hide-no-presentations-message-dot-rvaviewer-test.appspot.com/Viewer.html

[2016-12-14 19:41] fjvallarino commented on #204
@sheadarlison this fix has been deployed to production

[2016-12-16 15:50] robb-price opened #206 "Widgets play longer than the set duration in the Placeholder."
<b>How it works now</b>
1. Play <a href="https://apps.risevision.com/editor/workspace/1bb71033-05ee-444f-9a31-961e87bc908d/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a> on a Display, notice that the Widgets stop and move to the next content item when expected.
2. Preview that same Presentation, and notice that the Widgets go longer than the set duration.

Wendi and Darius have r

[2016-12-19 14:42] ByronDarlison commented on #206
![](https://github.trello.services/images/mini-trello-icon.png) [Widgets go longer than the set duration](https://trello.com/c/0HGSsTZy/2895-widgets-go-longer-than-the-set-duration)

[2016-12-20 18:00] robb-price commented on #206
Watched the preview of the Presentation for 6 minutes, and everything went as expected. Notified Wendi in the forum, this is now closed.

[2016-12-20 18:00] #206 closed

[2016-12-21 15:41] btfrise opened #208 "Mouse cursor appears over the top of Viewer in Ubuntu 14.04."
**How to recreate**
Assign any presentation to an Ubuntu 14.04 display. Make sure "Hide mouse pointer" is selected in the presentation.

**What happens**
The mouse pointer displays over the top of the presentation. In addition, if Screenconnect is installed, it's taskbar icon shows on top of the presentation as well.

**Notes**
Operating System: 32-bit & 64-bit Ubuntu 14.04.3 LTS
Player Version: R

[2016-12-21 15:44] btfrise commented on #208
FYI, we have a workaround for users with this issue, maybe it's something that could be implemented in the player itself?

sudo apt-get install unclutter
sudo gedit /etc/default/unclutter

change the following line:
EXTRA_OPTS="-idle 1 -root"
to
EXTRA_OPTS="-idle 2 -root"

nohup unclutter -idle 2 &

[2016-12-21 15:45] btfrise commented on #208
![](https://github.trello.services/images/mini-trello-icon.png) [Issue 208 - Mouse cursor appears over top of presentations on Ubuntu 14.04 media players.](https://trello.com/c/kRKOa6cR/2928-issue-208-mouse-cursor-appears-over-top-of-presentations-on-ubuntu-14-04-media-players)

[2016-12-21 15:47] alex-deaconu commented on #208
@btfrise does this happen if Screenconnect is not installed and the taskbar icon doesn't show up on top of the Presentation?

If not, I would say it's related to that; ie. the cursor is for the taskbar screen as it is in focus over the Viewer/Browser itself.

Thanks.

[2016-12-21 15:49] btfrise commented on #208
@alex-deaconu I will test without SC installed.

[2016-12-21 15:57] alex-deaconu commented on #208
@btfrise thanks!

[2016-12-21 17:33] btfrise commented on #208
@alex-deaconu Doesn't appear to be related to SC. I've only been able to recreate when a pointing device is plugged in. I will close for now.

[2016-12-21 17:33] #208 closed

[2016-12-30 14:49] ezequielc commented on #204
@sheadarlison I will close this. Please re-open it if you cannot confirm the fix. Thanks

[2016-12-30 14:49] #204 closed

[2017-01-26 16:25] alex-deaconu commented on #103
This is related to Publishing a Presentation containing Large Image files being used in the Image Widget on 32-bit machines. Most likely a Chrome issue, but could potentially be a Widget issue, least likely (according to our investigation) a Viewer issue. Closing this on the Viewer side, up to Delivery if they want to pursue investigating and fixing in the Widget.

Thanks!

[2017-01-26 16:25] #103 closed

[2017-02-07 20:48] robb-price opened #226 "Scheduling a Placeholder causes the entire Presentation to go black."
<b>How it works now:</b>
1. Set 1 Placeholder in a Presentation to have a specific timeline.
2. Notice that once you save and publish, any Displays showing that Presentation will go black. When you change the Placeholder back to be always, save and publish, the Presentation starts playing again.

For further clarification: https://goo.gl/nvJz6H

<b>How it should work:</b>
The Placeholder should no

[2017-02-07 21:05] robb-price commented on #226
Closing this and tracking through the spreadsheet.

[2017-02-07 21:05] #226 closed

[2017-02-10 17:20] robb-price commented on #100
Bug is verified in new version.

[2017-02-10 17:47] robb-price commented on #101
Fixed with the new version.

[2017-02-10 18:09] robb-price commented on #130
Issue is corrected in new version.

[2017-02-14 19:51] alex-deaconu commented on #100
PR #211 which fixes this issue is now deployed. Closing.

[2017-02-14 19:52] #100 closed

[2017-02-14 19:52] alex-deaconu commented on #101
PR #211 which fixes this issue is now deployed. Closing.

[2017-02-14 19:52] #101 closed

[2017-02-14 19:52] alex-deaconu commented on #130
PR #211 which fixes this issue is now deployed. Closing.

[2017-02-14 19:52] #130 closed

[2017-05-15 14:20] btfrise commented on #153
@stulees This is resolved. I'll go ahead and close.

[2017-05-15 14:20] #153 closed

[2017-07-31 13:59] rodrigopavezi opened #271 "Embedded Presentation not working"
Problem
Add your Display to this Schedule, https://apps.risevision.com/schedules/details/68bb90ab-ef74-4499-bfa9-3f3742e140c4?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55

Embedded Presentations won't work.

However, I noticed our chrome player on uptime does play it and found it is using an older version of Viewer. 2-00-201609292007
https://apps.risevision.com/displays/details/XJZ58V3AMH9Y?cid=fee1f6

[2017-07-31 13:59] rodrigopavezi opened #272 "Embedded presentation subscription not working offline"
When playing an embedded presentation offline it will show a message saying that it is not subscribed even though the subscription was bought on store. We believe subscription should be stored on local storage for offline usage.

@ezequielc @fjvallarino @alex-deaconu could you please take a look at this issue?

Cheers

[2017-08-08 14:58] alex-deaconu commented on #271
@rodrigopavezi the fix for this issue has been deployed. The cause was that the same Presentation object was used by the Schedule item and then copied and sent to the Embedded Presentation. The controllers modifies the HTML and causes a duplicate item to be added by the Embedded Presentation which causes the issue. To fix, I'm creating a separate copy of the object for the Schedule Item.

You can

[2017-08-09 18:52] alanclayton commented on #142
This is fixed on v3 player with version 8.8.2017. User choose if to change Display ID prior to content showing. If the display id is invalid, we will present the appropriate ui for user to update their id, or use claim id.

[2017-08-09 18:52] #142 closed

[2017-08-09 19:02] ezequielc commented on #271
@rodrigopavezi @alex-deaconu I will close this as we fixed it. Feel free to reopen if needed. Thanks

[2017-08-09 19:02] #271 closed

[2017-08-30 12:53] robb-price opened #277 "Random Placeholders do not show any content, and need to be recreated in Presentation to show content"
<b>How it works now:</b>
1. Take <a href="https://apps.risevision.com/editor/workspace/87dc4c5d-9511-4ab1-a9df-98948cc23e2e/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation<a/>, and notice that the Attendance Placeholder does not show in preview, or a Display. There is no obvious reason why it will not Display.
2. If you add a new Display, go to the HTML and copy all the contents of th

[2017-08-30 12:54] robb-price commented on #277
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 177: Random Placeholders not showing up in Preview or on Display](https://trello.com/c/pAq8bmSC/5416-1-issue-177-random-placeholders-not-showing-up-in-preview-or-on-display)

[2017-08-31 14:53] #277 closed

[2017-09-13 02:59] #272 closed

[2018-06-06 14:11] btfrise opened #309 "When using Image as full-screen placeholder background, Presentation white screens."
**How to recreate**

Create a new Presentation with a full screen Placeholder.
Add a background image to that placeholder, no other content.
Publish the Presentation and assign it to a Schedule/Display.

**What happens**
The image background appears for around 20 seconds, then goes white.

**What should happen**
Display should continue playing background image.

**Notes**
While testing, I saw some

[2018-06-06 14:12] btfrise commented on #309
![](https://github.trello.services/images/mini-trello-icon.png) [(1) [Ticket Blocked] Issue 659 When using Image as full-screen placeholder background, Presentation white screens.](https://trello.com/c/K88dCo6i/8111-1-ticket-blocked-issue-659-when-using-image-as-full-screen-placeholder-background-presentation-white-screens)

[2018-06-07 12:50] tejohnso commented on #309
@Rise-Vision/apps can you take a look at [this solution](https://github.com/Rise-Vision/viewer/compare/chore/testing#diff-8aefe4ec569570ae4213b5b2d9ffcd54R365).

During *playNextItem*, when nextItem === -1 and we're at the end of the playback we stop showing the placeholder by calling *_showPlaceholder(false)* but we're not currently setting *isPlaying* to false. This fixes that.
Another potential

[2018-06-07 14:23] tejohnso commented on #309
@btfrise  I spoke with Alex and he's in agreement with the idea of suggesting the workaround rather than trying to fix Viewer since this is a pre-existing issue, it's rare, and there are two workarounds available. My preferred suggestion is to use an image widget to show the image since that will use rise cache. Alternatively, a simpler change is to check play until done on the presentation item i

[2018-06-28 14:36] tejohnso opened #311 "Endless spinner on startup due to missing function"
![missing-function](https://user-images.githubusercontent.com/1511535/42040937-d5e418f0-7abe-11e8-97a1-60ae04c91ac9.png)

Looks like it's coming from https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Renderer/ScheduleRenderer.js#L17

@robb-price fyi

[2018-06-28 15:00] tejohnso commented on #311
@robb-price I think this is okay now after a cache clearing in the player. Please close once verified.

[2018-06-28 15:36] alanclayton commented on #311
@tejohnso @rudibravo what can we do to make this a better user experience?

[2018-06-28 17:11] rudibravo commented on #311
@tejohnso @alanclayton if I understand correctly, we removed the cache from newer releases of viewer. Once everyone is in the current viewer, this should be outdated right?

[2018-06-28 17:17] tejohnso commented on #311
@alanclayton @rudibravo I have this on our standup doc for discussion tomorrow.

[2018-06-29 13:53] tejohnso commented on #311
@robb-price I'm closing this - please reopen if necessary.

[2018-06-29 13:53] #311 closed

[2018-09-14 14:38] colby-maughan opened #315 "Preview Links are Indexed by Google"
### What is the expected behavior?
Previews are not indexed by Google.

### What is the actual behavior?
Previews are indexed by Google.

### What steps can be taken to replicate the problem?
I've included a link that shows the issue in action. Not sure how often this will come up, but it is a possibility as this was reported by a user.

https://www.google.at/search?q=site:preview.risevision.com/V

[2018-09-14 15:53] sheadarlison commented on #315
@ezequielc could changing this affect our SEO ranking and why shouldn't Preview links be indexed? In our ToS we say content is public: https://help.risevision.com/hc/en-us/articles/360000924446-Terms-of-Service

[2018-09-14 16:44] ezequielc commented on #315
@sheadarlison I think we should prevent it in robots.txt. I don't see it impacting our SEO.
Even if we say the content is public, I don't think it is a good idea to be indexed. As it just did, it raises concerns from users. Thanks

[2018-09-14 17:17] sheadarlison commented on #315
Okay sounds good @ezequielc

[2018-09-21 14:29] tejohnso opened #316 "Schedules don't resume after end of schedule time"
For example, if a display schedule is set to 8am - 5pm the screen will go black at 5pm. Then at 8am, the screen will not turn on.

The [command to stop](https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewer/Content/ScheduleController.js#L195) will set `scheduleTime` and `itemTime` to `-1` and from then on the [timer function](https://github.com/Rise-Vision/viewer/blob/master/src-js/Viewe

[2018-09-24 21:20] kaden-rise opened #317 "Unable to scroll in websites displayed via the URL option in Schedule playlists"
**Expected Behavior:**
Users can run custom URLs, which are web pages and scroll vertically if the site allows/expects it.

**Actual Behavior:**
Users run custom URLs, which are web pages but they cannot scroll vertically.

**Steps to Reproduce**
1. Add a scroll-able website to your Schedule playlist.
2. Preview the Schedule and you won't be able to scroll. Same behavior occurs directly on Display

[2018-09-26 14:12] btfrise commented on #317
Outside supported use case.

[2018-09-26 14:12] #317 closed

[2018-09-26 14:13] tejohnso commented on #316
Closing. See https://trello.com/c/Ya6wGyqn

[2018-09-26 14:13] #316 closed

[2019-01-14 21:43] kaden-rise opened #320 "Certain Rise Vision accounts are show a white screen when previewing embedded presentations"
**Expected Behavior**
Previewing a Presentation containing an embedded Presentation will show content

**Actual Behavior**
Previewing a Presentation containing an embedded Presentation in certain accounts shows nothing but a blank white screen

**Steps to reproduce:**

1. Create an Presentation with another Presentation embedded within it
2. Preview the Presentation

[2019-02-06 22:12] tejohnso commented on #320
@kaden-rise is there a presentation exhibiting this issue?

[2019-02-14 15:08] #320 closed

[2019-04-25 13:41] alex-deaconu opened #324 "Content remains on the Screen if the last item in a Playlist does not play"
If the last item in a Playlist sends `done` when `play` is called, the last item configured to play does not disappear.

In a Schedule with 3 Presentations, Presentations 1 and 2 play correctly, but Presentation 3's Play Until Done Placeholder has a Timeline set to not Play.

The first item shows and hides, the second item shows, the third item doesn't show.
The first item shows again but the seco

[2019-04-25 14:05] #324 closed

[2020-01-27 21:59] robb-price opened #339 "Resolution is sometimes reported incorrectly for ChromeOS and Windows devices."
### What is the expected behavior?
When your Display is running at a set resolution in the OS, this should be the reported resolution in the Display Settings.

### What is the actual behavior?
Sometimes, and we can't determine why, the resolution for some Windows and ChromeOS devices is reporting a different resolution than what is currently running.

### What steps can be taken to replicate the p

[2020-02-03 22:08] andrecardoso commented on #339
![](https://github.trello.services/images/mini-trello-icon.png) [(3) [Issue 339] Resolution is sometimes reported incorrectly for ChromeOS and Windows devices (Viewer)](https://trello.com/c/sbK3tv1S/400-3-issue-339-resolution-is-sometimes-reported-incorrectly-for-chromeos-and-windows-devices-viewer)

[2020-02-28 14:25] #339 closed